/* ------------------------------ Font ------------------------------*/
@font-face {
    font-family: "IRANSansX";
    src: url("../fonts/IRANSansX-DemiBold.eot") format("embedded-opentype");
    src: url("../fonts/IRANSansX-DemiBold.eot") format("embedded-opentype"),
        url("../fonts/IRANSansX-DemiBold.woff2") format("woff2"),
        url("../fonts/IRANSansX-DemiBold.woff") format("woff"),
        url("../fonts/IRANSansX-DemiBold.ttf") format("truetype");
    /* src: url("../../fonts/Vazir-Medium.eot") format("embedded-opentype"); */
    /* src: url("../../fonts/Vazir-Medium.eot") format("embedded-opentype"),
        url("../../fonts/Vazir-Medium.woff2") format("woff2"),
        url("../../fonts/Vazir-Medium.woff") format("woff"),
        url("../../fonts/Vazir-Medium.ttf") format("truetype"); */
    font-weight: bold;
    }
    
@font-face {
    font-family: "IRANSansX";
    src: url("../fonts/IRANSansX-DemiLight.eot") format("embedded-opentype");
    src: url("../fonts/IRANSansX-DemiLight.eot") format("embedded-opentype"),
        url("../fonts/IRANSansX-DemiLight.woff") format("woff2"),
        url("../fonts/IRANSansX-DemiLight.woff") format("woff"),
        url("../fonts/IRANSansX-DemiLight.ttf") format("truetype");
    font-weight: lighter;
}
/* 
@font-face {
    font-family: "vazir";
    src: url("../../fonts/Vazir-Bold.eot") format("embedded-opentype");
    src: url("../../fonts/Vazir-Bold.eot") format("embedded-opentype"),
        url("../../fonts/Vazir-Bold.woff2") format("woff2"),
        url("../../fonts/Vazir-Bold.woff") format("woff"),
        url("../../fonts/Vazir-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "vazir";
    src: url("../../fonts/Vazir-Thin.eot") format("embedded-opentype");
    src: url("../../fonts/Vazir-Thin.eot") format("embedded-opentype"),
        url("../../fonts/Vazir-Thin.woff2") format("woff2"),
        url("../../fonts/Vazir-Thin.woff") format("woff"),
        url("../../fonts/Vazir-Thin.ttf") format("truetype");
    font-weight: 300;
} */

/* ---------------------------------------- CSS Reaset ---------------------------------------- */
body {
    font-family: 'IRANSansX', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 1rem;
    line-height: 1.7;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

a,p,h1,h2,h3,h4,h5,h6,small,label,button,input,textarea,td,th {
    font-family: 'IRANSansX', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.625rem;
    font-weight: bold;
}

h3 {
    font-size: 1.375rem;
    font-weight: bold;
}